<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Albadylic Blog</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">
          <h1>Albadylic</h1>
        </a>
        <!-- <a href="/blog">Blog</a> -->
      </nav>
      <hr />
    </header>
    <main>{{content}}</main>
    <footer>
      <p>
        Built by Gregor, I'm on
        <a href="https://github.com/albadylic" target="_blank">GitHub</a> and
        <a href="https://www.linkedin.com/in/gregor-t/" target="_blank"
          >LinkedIn</a
        >
      </p>
    </footer>
  </body>
</html>
