body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  padding: 0 0.5em;
}

nav > a {
  padding: 0.25em;
  font-size: 1.25rem;
}

h1,
h2,
h3 {
  font-family: Tahoma;
}

p,
a {
  font-family: Verdana;
}
