body {
  margin: 0;
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  background: linear-gradient(#8ecae6, white);
}

nav > a {
  padding: 0.25em;
  font-size: 1.25rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5em;
  background: linear-gradient(white, #8ecae6);
}

hr {
  width: 80vw;
  border: 0.125em solid black;
}

h1,
h2,
h3 {
  font-family: Tahoma;
  color: black;
}

p,
a,
li {
  font-family: Verdana;
  color: black;
}

.home_container {
  margin: 1vh 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.home_container > div {
  margin: 1em;
}

.image_container {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.definition {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home_image {
  width: 50vw;
  object-fit: cover;
}
